   <h3><i class="far fa-address-card"></i> プロフィール:</h3> 
  
   <div class="mt-4"></div>
   
   <div class="border"><%= simple_format(@user.introduce) %></div>
   <%= link_to 'プロフィールを編集する', edit_user_path(@user) ,class: 'btn btn-block btn-info mt-5'%>
   
 