<ul class="list-unstyled">
  <% microposts.each do |micropost| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(micropost.user, { size: 50 }) %>" alt="">
      
      <div class="media-body">
        <!--記入情報ここから-->
        
        <div>
          <span class="text-muted"><%= micropost.created_at.to_s(:datetime_jp) %></span>
        </div>
        
        <div>
          <div class="mb-0"><h4><%= link_to simple_format(micropost.title),micropost %></h4></div>
          
        </div>
        <!--記入情報ここまで-->
        
      </div>
      
    </li>
  <% end %>
  <%= paginate microposts %>
</ul>s