<h3><i class="fas fa-clipboard-list"></i> 記事一覧：<span class="badge badge-secondary"><%= @count_microposts %>件</span></h3>
<div class="mt-4"></div>
<%= render 'microposts/microposts', microposts: @microposts %>
